<!-- @format -->

<header>
  <div class="nav">
    <div class="logo">
      <a>e<span>shop</span></a>
    </div>

    <nav>
      <ul class="nav-list">
        <li>
          <a class="<%= path === '/' ? 'active' : ''%>" href="/">shop</a>
        </li>
        <li>
          <a
            class="<%= path === '/product-list' ? 'active' : ''%>"
            href="/product-list"
            >Products list</a
          >
        </li>

        <% if(isAuthenticated) { %>

        <li>
          <a class="<%= path === '/cart' ? 'active' : ''%>" href="/cart"
            >cart</a
          >
        </li>
        <li>
          <a class="<%= path === '/order' ? 'active' : ''%>" href="/order"
            >Order</a
          >
        </li>

        <li>
          <a
            class="<%= path === '/admin/add-product' ? 'active' : ''%>"
            href="/admin/add-product"
            >add product</a
          >
        </li>
        <li>
          <a
            class="<%= path === '/admin/product' ? 'active' : ''%>"
            href="/admin/product">
            product</a
          >
        </li>

        <% } %>
      </ul>
    </nav>
    <div class="auth">
      <% if(!isAuthenticated) { %>
      <div class="login">
        <a class="<%= path === '/login' ? 'active' : ''%>" href="/login">
          login</a
        >
        <a class="<%= path === '/signup' ? 'active' : ''%>" href="/signup">
          sign up</a
        >
      </div>
      <% } else { %>
      <div class="logout">
        <form action="/logout" method="post">
          <button class="logout">logout</button>
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
        </form>
      </div>
      <% } %>
    </div>
  </div>
</header>
