<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/add-product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <section>
                <div class="form-contain">

                    <form action="/signup" method="post">
                        <div class="for-box">
                            <label for="email">E-mail</label>
                            <input type="email" name="email"
                            >
                        </div>
                        
                          <div class="for-box">
                              <label for="password">password</label>
                              <input type="password" name="password" 
                                 >
                          </div>
                          <div class="for-box">
                              <label for="password">confirm password</label>
                              <input type="password" name="confirmpassword" 
                                 >
                          </div>
                       
                       
                                <button class="btn" type="submit">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    sign up
                                </button>

                                 <% if (errorMassage) { %>
                            <p class="massage"><%= errorMassage %></p>
                        <% } %>

                    </form>


                </div>
            </section>
            <%- include('../includes/end.ejs') %>